@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
    /* Cores padrão para a scrollbar (modo claro) */
    --scrollbar-track: #f0f0f0;
    --scrollbar-thumb: #a0a0a0;
    --scrollbar-thumb-hover: #808080;
}

.dark {
    /* Cores da scrollbar para o modo escuro */
    --scrollbar-track: #2a2a2a;
    --scrollbar-thumb: #555555;
    --scrollbar-thumb-hover: #777777;
}

/* Define o tamanho da barra */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
    border-radius: 4px;
}

/* Estiliza a parte móvel da barra */
::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 4px;
}

/* Efeito ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover);
}

/* Para Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}
